In [282]:
# Import packages
%matplotlib inline
import numpy as np
import scipy as sp
import scipy.stats as sps
import matplotlib.pyplot as plt
import pandas as  pd
import math as mt
import seaborn as sns

In [283]:
data_path='/Users/CiciLi/Downloads/Data Interdisciplinary Project1.xlsx'
data=pd.read_excel(data_path)

In [284]:
data_rebase=data

In [285]:
data_rebase=data_rebase.set_index(list(data_rebase.columns)[0],drop=True)

In [286]:
DF1 = data_rebase.iloc[3:,1:]
type(DF1)
DF1
DF1.rename(columns={'1': '1Cash', 'Unnamed: 3': '2DEQ','Unnamed: 4': '3AEQ','Unnamed: 5': '4EMEQ','Unnamed: 6': '5AFI','Unnamed: 7': '6DGB'}, index={'4': 'o','5': '2','6': '3','7': '4','8': '5','9': '6','10': '7','11': '8','12': '9','13': '10','14': '11','15': '12'},inplace=True)

In [287]:
##Q1 a).
#1/1/2007-31/12/2010
#1/31/2007(72) to 31/12/2010(120)
Data_A=DF1.iloc[72:120 , :]
Data_A
#1/1/2011-31/12/2014
Data_B=DF1.iloc[120:168 , :]
#Data_B

In [288]:
#The mean of multivarite normal distribution a
col_names = Data_A.columns
#log(A+1)
log_A=Data_A.copy()
for i in col_names:
    log_A[i] = np.log(1+log_A[i].astype('float64'))

#log(B+1)
log_B=Data_B.copy()
for i in col_names:
    log_B[i] = np.log(1+log_B[i].astype('float64'))
    
##mean for logA and log B
Mean_A=pd.DataFrame()
Mean_B=pd.DataFrame()
for i in col_names:
    Mean_A[i]=[log_A[i].mean()]
Mean_A   
for i in col_names:
    Mean_B[i]=[log_B[i].mean()]
Mean_B   

print(log_A.mean())
Mean_A

1       -0.000099
2DEQ    -0.002481
3AEQ     0.006002
4EMEQ    0.005191
5AFI     0.006492
6DGB     0.004545
dtype: float64

          1      2DEQ      3AEQ     4EMEQ      5AFI      6DGB
0 -0.000099 -0.002481  0.006002  0.005191  0.006492  0.004545

In [289]:
#The covariance matrix
log_A.cov()
log_B.cov()

              1      2DEQ      3AEQ     4EMEQ      5AFI          6DGB
1      0.001110  0.000677  0.000773 -0.000079 -0.000033 -5.111626e-06
2DEQ   0.000677  0.000946  0.000833 -0.000115 -0.000078 -6.222407e-06
3AEQ   0.000773  0.000833  0.001175 -0.000109 -0.000051 -4.038200e-06
4EMEQ -0.000079 -0.000115 -0.000109  0.000058  0.000035  1.951893e-06
5AFI  -0.000033 -0.000078 -0.000051  0.000035  0.000053  1.073905e-06
6DGB  -0.000005 -0.000006 -0.000004  0.000002  0.000001  6.403896e-07

In [290]:
#visual covariance matrix
#sns.heatmap(log_A.corr(),cmap="coolwarm")
#sns.heatmap(log_B.corr(),cmap="coolwarm")

In [291]:
##Q3.The one year return
#for Data_A and Data B calateing U_ij
A1=log_A.iloc[:12 , :]
A2=log_A.iloc[12:24,:]
A3=log_A.iloc[24:36,:]
A4=log_A.iloc[36:,:]

A1=A1.sum()
A2=A2.sum()
A3=A3.sum()
A4=A4.sum()
U_A=(A1+A2+A3+A4)/4

B1=log_B.iloc[:12 , :]
B2=log_B.iloc[12:24,:]
B3=log_B.iloc[24:36,:]
B4=log_B.iloc[36:,:]

B1=B1.sum()
B2=B2.sum()
B3=B3.sum()
B4=B4.sum()
U_B=(B1+B2+B3+B4)/4

In [293]:
##for annual return A & B rho_ij
#rho_ij for A &B
Annual_set_A=pd.concat([A1, A2,A3,A4], axis=1)
Annual_set_B=pd.concat([B1, B2,B3,B4], axis=1)
A=Annual_set_A.T
B=Annual_set_B.T
A.corr()
B.corr()
#C_ij for A &B
A.cov()
B.cov()

              1      2DEQ      3AEQ     4EMEQ      5AFI      6DGB
1      0.019710  0.017005  0.015013 -0.004190 -0.003502 -0.000910
2DEQ   0.017005  0.016630  0.010804 -0.004578 -0.004006 -0.000994
3AEQ   0.015013  0.010804  0.014702 -0.001796 -0.001104 -0.000661
4EMEQ -0.004190 -0.004578 -0.001796  0.001491  0.001409  0.000223
5AFI  -0.003502 -0.004006 -0.001104  0.001409  0.001375  0.000162
6DGB  -0.000910 -0.000994 -0.000661  0.000223  0.000162  0.000107